<h1 style="background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX7081338.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;">Hello

</h1>
<!-- {{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }} -->